<%= render "partial/navbar" %>
<div class="container mt-5">
    <p class="fs-3 m-0">Examination of <%= User.find(@exam_session.user_id).name %> on <%= exam = Exam.find(@exam_session.exam_id).name %> </p>
    <p class="">Score: <%= @exam_session.score %></p>
    <div class="card mt-5">
        <div class="card-body">
            <ul class="list-group list-group-flush list-group-numbered">
                <% Item.where(exam_id: @exam_session.exam_id).each do |item| %>
                <li class="list-group-item">
                    <%= item.question %>
                    <%  
                        correct_answer = ""
                        item.choices.each do |choice| 
                        if choice.correct == true
                            correct_answer = choice.option
                        end    
                    %>
                        
                        

                        <%if choice.answers.present? 

                            if choice.correct %>
                                <p><i class="bi bi-check2-circle text-success"></i> <%= choice.option %></p>
                            <% else %>
                                <p class="m-0"><i class="bi bi-x text-danger"></i>  <%= choice.option  %></p>
                                <p class=" text-success"> answer: <%= correct_answer%></p>
                            <% end %>

                        <% end %>
                    <% end %>                        
                   
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>