<%= render "partial/navbar" %>
<div class="container mt-3">
    <p class="fs-2">Exams</p>
    <% if @current_user.role == "instructor" %>
    <div class="d-flex justify-content-end">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-examModal">
            New Exam
        </button>

        
    </div>

    <div class="d-flex justify-content-center">
        <div class="card w-50">
            <div class="card-body px-2">
                <% @ins_exams.each do |exam| %>
                    <% if exam.user_id == session[:user_id] %>
                    <div class="d-flex justify-content-between"> 
                        <p>
                            <%= exam.name %> 
                        </p>
                        <div>
                            <%= link_to "Edit", edit_exam_path(exam), class: "btn"%>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <% else %>
    <div class="d-flex justify-content-center">
        <div class="card w-50">
            <div class="card-body px-2">
                <% @ins_exams.each do |exam| %>
                    <div class="d-flex justify-content-between"> 
                        <div class="ps-3">
                            <p class="m-0">
                                <%= exam.name %> 
                            </p>
                            <p class="fw-light ms-4 m-0">
                                by
                                <%= exam.user.name %> 
                            </p>
                        </div>
                        <div>
                            <%= link_to "Answer Exam", edit_exam_path(exam), class: "btn"%>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>

</div>

<!-- Modal -->
<div class="modal fade" id="new-examModal" tabindex="-1" aria-labelledby="new-examModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="new-examModalLabel">New Exam</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= form_with model: @exam, url: create_exam_path, method: :post do |f|%>
        <div class="modal-body">
            <%= render "partial/flash"%>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.hidden_field :user_id, :value => @current_user.id %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
        <% end %>
        
        
    </div>
    </div>
</div>